<h1>Welcome to Member Page</h1>


<nav>
  <a href="/member/list">List Members</a>
  <a href="">My Profile</a>
</nav>

<br>

<form method="post" action='/search'>
  Search by First Name:<br> <input type='text' name='search_entry'>
  <input type="submit" value='Search'>
</form>

<form method="post" action='/posts'>
  Post: <textarea name='text' maxlength='140'></textarea>
  <input type='submit' value='Submit!'>
</form>




<% @posts.each do |post| %>
<p> <%= post.text %> </p>
<% end %>